.ReactVirtualized__Grid.ReactVirtualized__List:focus {
  outline: none;
}
.ReactVirtualized__List::-webkit-scrollbar {
  display: none;
}
.ReactVirtualized__List {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.App {
  text-align: center;
}

.list {
  padding: 10px;
}

.row {
  border-bottom: 1px solid #ebeced;
  text-align: left;
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.form-group {
  margin: 0px 10px;
  display: flex;
  justify-content: space-between;
}

.content {
  display: grid;
  min-height: 44px;
  grid-template-columns: 120px 200px 120px 260px 150px 120px;
  box-sizing: border-box;
}
.contentRowElement-Rank {
  margin: auto auto auto 10px;
  grid-column: 1;
}
.contentRowElement-Name {
  margin: auto auto auto 10px;
  grid-column: 2;
}
.contentRowElement-Profiles {
  margin: auto auto auto 10px;
  grid-column: 3;
}
.contentRowElement-Location {
  margin: auto auto auto 10px;
  grid-column: 4;
}

.contentRowElement-Rating {
  margin: auto auto auto 10px;
  grid-column: 5;
}
.contentRowElement-getButton {
  margin: auto auto auto 0px;
  grid-column: 6;
}
.githubRedirectButton {
  height: 30px;
  margin: 0 auto;
}
.githubRedirectButton:hover .profileIcon {
  filter: opacity(80%);
}
.githubRedirectButton:focus {
  outline: none;
}
.profileIcon {
  display: block;
  margin: 0 auto;
  width: 30px;
}
.countryIcon {
  display: block;
  margin: 0 auto;
  width: 40px;
  border-radius: 3px;
}
.search_result {
  width: 100%;
  background-color: rgb(256, 256, 256);
  padding: 10px;
}

div.header-23__left {
  background-color: rgb(256, 256, 256);
  border-radius: 10px;
  min-width: 100%;
}
div.header-23_left_content {
  margin: auto;
  padding-right: 0px;
  width: 100%;
}
div.header-23_text {
  margin: auto;
  width: 90%;
  max-width: 1000px;
}

.form-inline {
  display: grid;
  min-height: 44px;
  grid-template-columns: 540px 100px 190px 140px;
  box-sizing: border-box;
  margin-top: 40px;
}
.filter-language-label {
  margin: 0px auto auto 10px;
  grid-column: 2;
}
.filter-language-select {
  margin: auto auto auto 10px;
  grid-column: 3;
}

.filter-button-submit {
  margin: 0px auto auto 10px;
  grid-column: 4;
}
div.root {
  width: 90%;
  margin: auto;
}
div.list {
  width: 100%;
  min-height: 500px;
}
.btn-user-form {
  margin: 0px;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  min-width: 100px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-user-form:hover {
  background-color: #e8e8e8;
}

.list-signatures {
  display: grid;
  min-height: 44px;
  grid-template-columns: 120px 200px 120px 260px 150px 120px;
  box-sizing: border-box;
  padding-left: 8px;
}
.signature-element-Rank {
  margin: auto auto auto 10px;
  grid-column: 1;
}
.signature-element-Name {
  margin: auto auto auto 10px;
  grid-column: 2;
}
.signature-element-Profiles {
  margin: auto auto auto 10px;
  grid-column: 3;
}
.signature-element-Location {
  margin: auto auto auto 10px;
  grid-column: 4;
}
.signature-element-Rating {
  margin: auto auto auto 10px;
  grid-column: 5;
}
@media screen and (min-width: 0px) and (max-width: 280px) {
  .signature-element-Rank,
  .signature-element-Name,
  .signature-element-Profiles,
  .signature-element-Location,
  .signature-element-Rating {
    font-size: 16px;
  }
  .list-signatures {
    grid-template-columns: 2.55fr 2.9fr 2.5fr 2fr;
    grid-template-rows: 1fr 1fr;
  }
  .content {
    grid-template-columns: 2.55fr 2.9fr 2.5fr 2fr;
    grid-template-rows: 1fr 1fr;
  }
  .form-inline {
    grid-template-columns: 18px 90px 150px;
    grid-template-rows: 50px 50px;
  }
  .filter-button-submit {
    width: 200px;
  }
}
@media screen and (min-width: 281px) and (max-width: 320px) {
  .signature-element-Rank,
  .signature-element-Profiles,
  .signature-element-Name,
  .signature-element-Location,
  .signature-element-Rating {
    font-size: 16px;
  }
  .list-signatures {
    grid-template-columns: 2.55fr 2.9fr 4.5fr;
    grid-template-rows: 1fr 1fr;
  }
  .content {
    grid-template-columns: 25% 30% 45%;
    grid-template-rows: 1fr 1fr;
  }
  .form-inline {
    grid-template-columns: 18px 90px 150px;
    grid-template-rows: 50px 50px;
  }
  .filter-button-submit {
    width: 250px;
  }
  .contentRowElement-Name {
    font-size: 10px;
  }
  .contentRowElement-Rank,
  .contentRowElement-Location,
  .contentRowElement-Rating {
    font-size: 15px;
  }
}
@media screen and (min-width: 321px) and (max-width: 359px) {
  .signature-element-Rank,
  .signature-element-Name,
  .signature-element-Profiles,
  .signature-element-Location,
  .signature-element-Rating {
    font-size: 16px;
  }
  .list-signatures {
    grid-template-columns: 2.55fr 2.9fr 4.5fr;
    grid-template-rows: 1fr 1fr;
  }
  .content {
    grid-template-columns: 2.55fr 2.9fr 4.5fr;
    grid-template-rows: 1fr 1fr;
  }
  .form-inline {
    grid-template-columns: 18px 90px 200px;
    grid-template-rows: 50px 50px;
  }
  .filter-button-submit {
    width: 300px;
  }
  .contentRowElement-Rank,
  .contentRowElement-Name,
  .contentRowElement-Location,
  .contentRowElement-Rating {
    font-size: 15px;
  }
}
@media screen and (min-width: 360px) and (max-width: 375px) {
  .signature-element-Rank,
  .signature-element-Name,
  .signature-element-Profiles,
  .signature-element-Location,
  .signature-element-Rating {
    font-size: 14px;
  }
  .list-signatures {
    grid-template-columns: 2.2fr 2.5fr 4.5fr;
    grid-template-rows: 1fr 1fr;
  }
  .content {
    grid-template-columns: 2.55fr 2.9fr 4.5fr;
    grid-template-rows: 1fr 1fr;
  }
  .form-inline {
    grid-template-columns: 18px 90px 170px;
    grid-template-rows: 50px 50px;
  }
  .filter-button-submit {
    width: 270px;
  }
  .contentRowElement-Rank,
  .contentRowElement-Name,
  .contentRowElement-Location,
  .contentRowElement-Rating {
    font-size: 10px;
  }
}
@media screen and (min-width: 376px) and (max-width: 414px) {
  .signature-element-Rank,
  .signature-element-Name,
  .signature-element-Profiles,
  .signature-element-Location,
  .signature-element-Rating {
    font-size: 16px;
  }
  .list-signatures {
    grid-template-columns: 2fr 2.4fr 4.5fr;
    grid-template-rows: 1fr 1fr;
  }
  .content {
    grid-template-columns: 2.55fr 2.9fr 4.5fr;
    grid-template-rows: 1fr 1fr;
  }
  .form-inline {
    grid-template-columns: 18px 90px 230px;
    grid-template-rows: 50px 50px;
  }
  .filter-button-submit {
    width: 330px;
  }
  .contentRowElement-Rank,
  .contentRowElement-Name,
  .contentRowElement-Location,
  .contentRowElement-Rating {
    font-size: 12px;
  }
}
@media screen and (min-width: 415px) and (max-width: 540px) {
  .signature-element-Rank,
  .signature-element-Name,
  .signature-element-Profiles,
  .signature-element-Location,
  .signature-element-Rating {
    font-size: 16px;
  }
  .list-signatures {
    grid-template-columns: 2.3fr 2.4fr 4.5fr;
    grid-template-rows: 1fr 1fr;
  }
  .content {
    grid-template-columns: 2.55fr 2.9fr 4.5fr;
    grid-template-rows: 1fr 1fr;
  }
  .form-inline {
    grid-template-columns: 18px 90px 320px;
    grid-template-rows: 50px 50px;
  }
  .filter-button-submit {
    width: 420px;
  }
  .contentRowElement-Rank,
  .contentRowElement-Name,
  .contentRowElement-City,
  .contentRowElement-Rating {
    font-size: 15px;
  }
}
@media screen and (max-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media screen and (min-width: 541px) and (max-width: 767px) {
  .signature-element-Rank,
  .signature-element-Name,
  .signature-element-Profiles,
  .signature-element-Location,
  .signature-element-Rating {
    font-size: 16px;
  }
  .list-signatures {
    grid-template-columns: 2.3fr 2.4fr 4.5fr;
    grid-template-rows: 1fr 1fr;
  }
  .content {
    grid-template-columns: 2.55fr 2.9fr 4.5fr;
    grid-template-rows: 1fr 1fr;
  }
  .form-inline {
    grid-template-columns: 18px 120px 290px;
    grid-template-rows: 50px 50px;
  }
  .filter-button-submit {
    width: 420px;
  }
}
@media screen and (max-width: 767px) {
  .content {
    width: 100%;
  }
  .contentRowElement-Rank {
    grid-row: 1;
    grid-column: 1;
  }
  .contentRowElement-Name {
    grid-row: 2;
    grid-column: 2;
    margin: 0px auto auto 10px;
  }
  .contentRowElement-Profiles {
    grid-row: 1;
    grid-column: 2;
  }
  .contentRowElement-Location {
    grid-row: 1;
    grid-column: 3;
    margin: auto auto auto 10px;
  }
  .contentRowElement-Rating {
    grid-row: 2;
    grid-column: 1;
    margin: 0px auto auto 10px;
  }
  .contentRowElement-getButton {
    grid-row: 2;
    grid-column: 3;
    margin: 0px auto auto 10px;
  }
  .signature-element-Rank {
    grid-row: 1;
    grid-column: 1;
  }
  .signature-element-Name {
    grid-row: 2;
    grid-column: 2;
  }
  .signature-element-Profiles {
    grid-row: 1;
    grid-column: 2;
  }
  .signature-element-Location {
    grid-row: 1;
    grid-column: 3;
  }
  .signature-element-Rating {
    grid-row: 2;
    grid-column: 1;
  }
  .btn-get-user {
    min-width: 80px;
    padding: 0.375rem 0.75rem;
    font-size: 0.58rem;
  }
}
@media screen and (max-width: 991px) {
  .filter-language-label {
    grid-column: 2;
    grid-row: 1;
  }
  .filter-language-select {
    grid-column: 3;
    grid-row: 1;
  }
  .filter-button-submit {
    grid-column: 2;
    grid-row: 2;
  }
}
@media screen and (max-width: 1020px) {
  .header-23__left {
    padding-top: 1px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 870px) {
  .content,
  .list-signatures {
    grid-template-columns: 80px 180px 100px 200px 130px 100px;
  }
  .form-inline {
    grid-template-columns: 380px 100px 180px 140px;
  }
  .btn-get-user {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .content,
  .list-signatures {
    grid-template-columns: 40px 140px 70px 160px 90px 90px 20px;
  }
  .btn-get-user {
    min-width: 80px;
    padding: 0.375rem 0.75rem;
    font-size: 0.52rem;
  }
  .form-inline {
    grid-template-columns: 18px 120px 200px;
    grid-template-rows: 50px 50px;
  }

  .filter-button-submit {
    width: 580px;
  }
}

@media (min-width: 991px) {
  .form-inline .form-control {
    display: inline-block;
    width: 150px;
    vertical-align: middle;
  }
  .btn-get-user {
    font-size: 0.8rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .form-inline .form-control {
    display: inline-block;
    width: 450px;
    vertical-align: middle;
  }
}
@media (min-width: 570px) and (max-width: 767px) {
  .form-inline .form-control {
    display: inline-block;
    width: 290px;
    vertical-align: middle;
  }
}
.form-inline label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: left;
  margin-bottom: 0;
}
label {
  margin: 0px 5px;
  padding-right: 10px;
}
.error-container {
  padding: 100px;
  width: 60%;
  margin: auto;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}
.error-message {
  font-size: 30px;
}
